<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
			<h2 align="center"> Ramoudane Orou Sannou</h2>
	    		<ul>
	        	<li><a href="/">Home</a></li>
	    		</ul>
			<hr />
			</nav>
			<div class="container">
			
			{{ content }}
				
			</div><!-- /.container -->
			<footer>
		 	<hr />
	    		<ul>
	        		<li><a href="mailto:orou-sannou@unfpa.org">email</a></li>
	        		<li><a href="https://github.com/ramdaneos">github.com/jroth-unfpa</a></li>
				</ul>
			</footer>
		</body>
	</html>
